body, button, input {
    font-family: 'Poppins', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
   
}

.money-left {
    height: 100px;
    width: 360px;
    margin: 10px auto;
    /* background-color: rgb(56, 108, 138); */
    /* ODCIEŃ ZIELENI NA OBRAZKU rgb(47, 132, 107) */
    border: black 5px dashed;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.money-left h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.li-separator {
    margin: 10px 0;
    /* border: black solid 3px; */
}
.budget {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: blue; */
}

.box {
    width: 45%;
    padding-bottom: 20px;
    border: 5px solid black;
    background-color: rgb(47, 132, 107);
}

.box h1, .box h2 {
    padding: 10px 0;
    font-weight: bold;
}

.box input {
    height: 30px;
    width: 200px;
    margin-right: 5%;
}

footer {
    height: 100px;
}

.sums {
    display: flex;
    justify-content: space-around;

}

.income-sum, .expenses-sum {
    text-align: center;
    /* position:relative;
    bottom: 10px;
    right: 10px; */

}

button {
    background-color: rgb(243, 178, 50);
    color: white;
    border: white solid 2px;

}
.ul-separator {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* .box-income, .box-expenses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
} */

